/* Global Elements*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font: 15px;
    margin: auto;
    padding: 0;
    background-color: #333333;
}

ul {
    padding: 0;
    margin: 0;
}

#title-section {
    font-size: 20px;
    color: #ffffff;
}

.button_1 {
    height: 38px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

/* Navigation Bar*/
header .nav-container {
    position:fixed; /*locks the nav bar in the scroll bar*/
    /*container for the grids*/
    font-size: 20px;
    background: lightslategray;
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 4fr 40%;
    grid-template-rows: auto;
    overflow: hidden;
    border-bottom: #ffffff solid 2px;
    width: 100%;
    top:0px;
    left:0px;
}

header #branding h1 {
    color: #ffffff;
    padding: 0px 0px 10px 20px;
    margin-top: 15px;
    font-size: 30px;
}

header nav {
    padding: 5px 0px 0px 0px;
}

header ul {
    list-style-type: none;
    /*removes the bullet style*/
    margin: 20px 10px 0 0;
    float: right;
}

header li {
    padding: 0 10px 0 20px;
    display: inline;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    /*when cursor move into it itchanges color*/
    color: #000000;
    font-weight: bold;
}

/*Main content*/
#showcase {
    /*container for the grids*/
    background: url('../img/background-table-setting.jpg')no-repeat;
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 2fr;
    grid-template-rows: 1fr;
    height: 400px;
    overflow: hidden;
    border-bottom: #ffffff solid 2px;
}

#showcase .logo {
    margin: 20px 0px 20px 40px;
    padding: 20px 0px 20px 40px;
    text-align: center;
    color: #ffffff;

}

#showcase #Mascot {
    width: 250px;
    height: 250px;
    border-radius: 120px;
    border-style: solid;
    border-color: #333333;
}

#showcase .content {
    margin: 20px;
    padding: 0px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

#showcase .content p {
    text-align: justify;
    color: #924f4f;
}

/* News Letter*/
#newsletter {
    color: #ffffff;
    background: #35424a;
    grid-column: 1/3;
    text-align: center;
    overflow: hidden;
    border-bottom: #ffffff solid 2px;
}


#newsletter input[type="email"] {
    padding: 4px;
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
}

/*Service Menu*/
#services {
    /*container for the grids*/
    padding: 0px 10px 10px 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr;
    grid-column-gap: 10px;
    overflow: hidden;
    border-bottom: #ffffff solid 2px;
}

#services #title-section {
    grid-column: 1/4;
    padding: 0;
    margin: 0;
}


#services .box {
    text-align: center;
    background: #924f4f;
}

#icon-menu {
    width: 128px;
    height: 128px;
}


/*Reservation and About Us*/

#bottom {
    /*container for the grids*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    overflow: hidden;
    border-bottom: #ffffff solid 2px;
    padding: 10px;
    font-size: 20px;
    color:#ffffff;
}

#reservation form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#reservation input{
    height: 20px;
    width: 200px;
    margin-bottom: 20px;
}
#reservation .button_1{
    height: 40px;
    width: 210px;
    margin-bottom: 20px;
    font-size: 20px;
}

.about-us{
    padding: 10px;
   text-align: justify;
}


/*footer*/
footer {
    padding: 10px 0px 20px 0px;
    color: #ffffff;
    background: #35424a;
    text-align: center;
}